@inherits LayoutComponentBase

<header>
    <div class="container">
        <img src="/logo-gob.png" class="img-fluid" alt="logo gobierno" width="400" style="height: 110px">
    </div>
    @* <NavMenu/> *@
</header>
<div class="py-5">
    @Body
</div>

@code{
    //protected override void OnInitialized()
    //{
    //}
}