@inherits LayoutComponentBase

<header>
    <div class="container">
        <img src="images/logo-gob.png" class="img-fluid" alt="logo gobierno" height="120" style="height: 120px">
    </div>
    <NavMenu/>
</header>
<div class="py-5">
    @Body
</div>

@code{
    //protected override void OnInitialized()
    //{
    //}
}