@page "/Dashboard"
<h3>Dashboard</h3>

<div class="row mt-0">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card py-2">
            <div class="card-body">
                <h5 class="card-title border-bottom py-2">MINISTERIO DE SALUD</h5>
                <p class="card-text">SISTEMA DE GESTION DE LA SUBDIRECCIÓN GENERAL DE SALUD AMBIENTAL (SDGSA)</p>
                <p class="card-text">USUARIO: @LoggedUser.FirstName @LoggedUser.LastName</p>
            </div>
        </div>
    </div>
</div>
