@page "/comites"
@using REGISTROLEGAL.Models.Entities.BdSisLegal
@inject DbContextLegal _context
@inject NavigationManager Navigation

<h3>Comités Registrados</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nombre Comité</th>
        <th>Comunidad</th>
        <th>Fecha Creación</th>
        <th>Resolución</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    @if (comites != null)
    {
        @foreach (var c in comites)
        {
            <tr>
                <td>@c.NombreComiteSalud</td>
                <td>@c.Comunidad</td>
                <td>@c.FechaRegistro?.ToString("dd/MM/yyyy")</td>
                <td>@c.NumeroResolucion</td>
                <td>
                    <button class="btn btn-sm btn-primary"
                            @onclick="() => Editar(c.ComiteId)">
                        Editar
                    </button>

                </td>
            </tr>
        }
    }
    </tbody>
</table>

