@page "/"
@using REGISTROLEGAL.Components.Layout
@layout EmptyLayout
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
</div>
@code
{
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity == null || !authState.User.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("/Account/Login");
        }
    }
}